
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/vcs.xml
*.class
.DS_Store
PAC_1.iml
/out/
/src/InClassExercises/Midterm/
/src/Midterm2/
out/production/PAC_1/Final/Solution.class
src/Final/Solution.java
src/Final/TreeTraversal.java
