
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.DS_Store
PAC_1.iml
/src/InClassExercises/Midterm/
/src/Midterm2/
